<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bienes Raíces</title>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">
    <link rel="stylesheet" href="../css/styless.css">
</head>
<body>
    <header class="site-header">
        <div class="contenedor contenido-header">
            <div class="barra">
                <a href="../index.html">
                    <img src="../img/logo.svg" alt="Logotipo de Bienes Raíces">
                </a>
                <div class="mobile-menu">
                    <a href="#navegacion">
                        <img src="../img/barras.svg" alt="Icono Menu">
                    </a>
                </div>
                <nav id="navegacion" class="navegacion">
                    <a href="nosotros.html">Nosotros</a>
                    <a href="anuncios.html">Anuncios</a>
                    <a href="blog.html">Blog</a>
                    <a href="contacto.html">Contacto</a>
                </nav>
            </div>
        </div>
    </header>   
    <h1 class="fw-300 centrar-texto">Consejos para tener una piscina en tu casa sin gastar demasiado</h1>
    <img src="../img/destacada2.jpg" alt="Imagen Anuncio">
    <main class="contenedor seccion contenido-centrado texto-entrada">
        <p>Escrito el: <span>05/04/2020</span> por: <span>Admin</span></p>
        <p>Integer eget eleifend enim, ac venenatis erat. Nulla commodo, justo vitae iaculis interdum, nisl purus ultrices augue, et consectetur massa neque viverra mi. Aenean scelerisque hendrerit rutrum. Pellentesque egestas mi vel fringilla suscipit. Morbi accumsan tellus vitae maximus pharetra. Vestibulum pretium quis risus nec accumsan. Suspendisse id ante tortor. Phasellus sit amet pretium lacus, dictum varius erat. Vivamus quis fermentum nisi. Pellentesque consectetur dolor a risus semper lacinia. Sed fermentum dictum augue non ultricies. Mauris et laoreet lorem, at viverra mauris. Aliquam id magna sem. Curabitur vulputate ultrices lectus molestie pellentesque.</p>
        <p>sit amet ante sit amet dui mattis tincidunt. Ut ac magna consequat, dignissim urna at, posuere ligula. Donec finibus dolor a augue tincidunt mattis. Phasellus finibus erat efficitur felis egestas, vel pretium quam pharetra. Phasellus at bibendum arcu. Sed rutrum pulvinar felis auctor ultricies. Pellentesque eget sem tincidunt, laoreet nibh quis, maximus lacus. Aenean pharetra magna at facilisis vulputate. Suspendisse aliquam nunc scelerisque magna ultricies, non consequat mi tincidunt.</p>
        <p>Aenean a venenatis ipsum. Vestibulum sagittis faucibus venenatis. Cras quis tincidunt felis, at mollis est. Sed vel faucibus ligula. Curabitur consequat vulputate nisi in faucibus. Praesent pellentesque ac justo id pharetra. Interdum et malesuada fames ac ante ipsum primis in faucibus. Fusce mollis lectus at elit tincidunt, ac imperdiet sapien placerat. Fusce pellentesque posuere sapien mattis pulvinar.</p>
        <p>Aliquam dui tortor, pulvinar eget lectus at, tempor eleifend est. Mauris sapien erat, imperdiet nec nisl nec, pellentesque suscipit dui. Mauris nulla ligula, pulvinar sed dapibus id, imperdiet sed orci. Sed arcu eros, suscipit eu mi in, tempus tincidunt risus. Integer dapibus quis purus sit amet posuere. Vivamus nulla est, suscipit et ultricies ac, sagittis feugiat purus. Pellentesque faucibus at odio sit amet accumsan. Aenean at risus a sem finibus pellentesque. Etiam maximus lobortis tellus. Vestibulum luctus luctus nisi, vitae tempus tellus ullamcorper ac. In auctor ipsum augue. Phasellus a mattis nibh, sed malesuada neque. Mauris varius dolor sit amet erat mollis consectetur. Mauris mattis ex vitae dui malesuada, a dapibus odio volutpat. Praesent feugiat viverra justo, non viverra massa rhoncus in. Donec a molestie orci, et tempus orci.</p>
    </main>
    <footer class="site-footer seccion">
        <div class="contenedor contenido-footer">
            <nav class="navegacion">
                <a href="nosotros.html">Nosotros</a>
                <a href="anuncios.html">Anuncios</a>
                <a href="blog.html">Blog</a>
                <a href="contacto.html">Contacto</a>
            </nav>
            <p class="copyrigth">Todos los Derechos Reservados 2020 &copy; </p>
        </div>
    </footer>
</body>
</html>